@font-face 
{
		font-family: "Marck Script";
		src: url("fonts/MarckScript/MarckScript-Regular.eot");
		src: url("fonts/MarckScript/MarckScript-Regular.eot?#iefix")format("embedded-opentype"),
		url("fonts/MarckScript/MarckScript-Regular.woff") format("woff"),
		url("fonts/MarckScript/MarckScript-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}

@font-face 
{
		font-family: "Focus-Medium";
		src: url("fonts/Focus/Focus-Medium.ttf");
		font-style: normal;
		font-weight: normal;
	}