doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Restaurant
	link(rel="stylesheet", href="normalize.css")
	link(rel="stylesheet", href="main.css")
body
	.container
		include header/header.pug
		include promo/promo.pug
		include about/about.pug
		include ingredients/ingredients.pug
		include menu/menu.pug
	