@font-face {
  font-family: "Marck Script";
  src: url("fonts/MarckScript/MarckScript-Regular.eot");
  src: url("fonts/MarckScript/MarckScript-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/MarckScript/MarckScript-Regular.woff") format("woff"), url("fonts/MarckScript/MarckScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Focus-Medium";
  src: url("fonts/Focus/Focus-Medium.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans-Semibold";
  src: url("fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  position: fixed;
  width: 100%; }

.fixed {
  z-index: 5000;
  background-color: rgba(11, 11, 11, 0.5);
  -webkit-box-shadow: 0 0 5px #454545;
  box-shadow: 0 0 5px #454545; }

.header__logo {
  margin: 20px 0px 20px 180px; }

.header__menu {
  margin: 52px 0 0 255px;
  padding: 0; }

.header__menu > li:not(:first-child) {
  margin-left: 50px; }

.header__social {
  margin: 50px 0 0 124px; }

.header__item {
  display: inline;
  list-style-type: none;
  font-family: Focus-Medium;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400; }

.header__item:hover {
  color: #fb5231;
  cursor: pointer; }

@media (max-width: 1550px) {
  .header__menu {
    margin: 52px 0 0 70px;
    padding: 0; }
  .header__social {
    margin: 50px 0 0 60px; } }

.promo {
  width: 100%;
  height: 751px;
  background-image: url(promo/img/background.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.promo__form {
  width: 33%; }

.promo__button {
  width: 228px;
  height: 57px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 500;
  font-family: Focus;
  color: #ffffff;
  font-family: Focus-Medium;
  margin: 3%; }

.promo__button:hover {
  background-color: rgba(251, 82, 49, 0.7);
  border: none; }

.promo__header {
  font-family: Marck Script;
  color: #ffffff;
  opacity: 0.92;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  font-size: 90px;
  font-weight: 400; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: url(about/img/background.jpg);
  background-image: url(about/img/Vector_Smart_Object.png);
  min-height: 710px; }

.title {
  color: #fb5231;
  font-family: "Marck Script";
  font-size: 36px;
  font-weight: 400;
  line-height: 24px; }

.about__text {
  max-width: 505px;
  max-height: 120px;
  color: #4c4c4c;
  font-family: Focus-Medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 758px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.ingredients__img-container {
  margin-left: 5%; }

.ingredients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: url(ingredients/img/bg.png);
  margin-left: 5%;
  min-height: 758px;
  min-width: 570px; }

.ingredients__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ingredients__icon {
  margin-top: 10%; }

.ingredients__icon:not(:first-of-type) {
  margin-left: 8%; }

.ingredients__text {
  color: #ffffff;
  max-width: 394px;
  max-height: 144px; }

.title_white {
  color: #ffffff; }

.ingredients__decoration {
  margin-bottom: 3%; }

.menu {
  min-height: 995px;
  background: url(menu/img/fish.png) center left no-repeat, url(menu/img/meat.png) center right no-repeat;
  background-color: #1a1f3b; }

.menu__text {
  width: 483px;
  color: #ffffff;
  font-family: Focus-Medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid #fb5231;
  letter-spacing: 0.2px;
  padding-bottom: 2%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%; }

.menu__subtitle {
  font-family: "Focus-Medium";
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 3%;
  margin-bottom: 1%; }

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.reviews {
  height: 759px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.reviews__text {
  color: #1a1f3b;
  font-family: Focus-Medium;
  font-size: 25px;
  font-weight: 400;
  line-height: 45px;
  max-width: 900px; }

.reviews__signature {
  color: #1a1f3b;
  font-family: "Marck Script";
  font-size: 41px;
  font-weight: 400;
  line-height: 45px; }

.reservations {
  height: 710px;
  padding-right: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-linear-gradient(103deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  background: -o-linear-gradient(103deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  background: linear-gradient(-13deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.1);
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.1);
  background: url(reservation/img/Layer_12.png) center right no-repeat, url(reservation/img/Vector_Smart_Object.png) center left no-repeat; }

.reservations__column-left {
  margin-left: 10%; }

.reservations__column {
  margin-right: 5%; }

form.reservations__form {
  max-width: 480px;
  max-height: 209px; }

.grid__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.reservations__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15%; }

.reservations__text {
  max-width: 420px; }

.reservations__form input {
  width: 200px;
  height: 36px;
  border: 1px solid #c8c6c6;
  background-color: #ffffff;
  padding-left: 7%;
  margin-bottom: 10%; }

.reservations__form input:hover {
  border: 1px solid #fb5231; }

.reservations__form label {
  color: #fb5231;
  font-family: Focus-Medium;
  font-size: 14px;
  font-weight: 500; }

.reservations__form input::-webkit-input-placeholder {
  color: #a4a4a4;
  font-family: Focus-Medium;
  font-size: 12px;
  font-style: italic; }

.reservations__form input:-ms-input-placeholder {
  color: #a4a4a4;
  font-family: Focus-Medium;
  font-size: 12px;
  font-style: italic; }

.reservations__form input::-ms-input-placeholder {
  color: #a4a4a4;
  font-family: Focus-Medium;
  font-size: 12px;
  font-style: italic; }

.reservations__form input::placeholder {
  color: #a4a4a4;
  font-family: Focus-Medium;
  font-size: 12px;
  font-style: italic; }

.reservations__form button {
  display: block;
  width: 200px;
  height: 36px;
  background-color: #fb5231;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: Focus-Medium;
  font-size: 16px;
  font-weight: 500;
  margin: 3% auto 3% auto; }

.reservations__form button:active {
  -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.5); }

.column2 {
  margin-left: 10%; }

.footer {
  background-color: #1b203c;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__text {
  color: #969595;
  font-family: Focus-Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.52px; }

.footer__copyright {
  text-transform: uppercase;
  font-family: "Open Sans-Semibold";
  color: #6b6b6b;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.52px; }

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__column-pl {
  padding-left: 5%; }

.footer__column-pr {
  padding-right: 5%; }

.footer__icon-social img {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10%;
  margin-bottom: 10%; }

.container {
  width: 1601px;
  margin: auto; }

/*# sourceMappingURL=main.css.map */