section.reviews
	.reviews__img
		img(src="reviews/img/Layer_14.png", alt="")
	h2.title Guest Reviews
	.decoration
		img(src="reviews/img/Divider.png", alt="decoration")
	p.reviews__text The food was excellent and the service was the best we’ve experienced in Venice so far. We’ll definitely come back to try out more of the dishes!
	p.reviews__signature Jhon Hasegools - SoooP Inc.
	.star
		img(src="reviews/img/Layer_14_copy_4.png", alt="star")
