.footer
{
	background-color: #1b203c;
	height: 322px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 5%;
}
.footer__text
{
	color: #969595;
	font-family: Focus-Medium;
	font-size: 13px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.52px;
}
.footer__copyright
{
	text-transform: uppercase;
	font-family: "Open Sans-Semibold";
	color: #6b6b6b;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.52px;
}

.footer__column
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;

}

.footer__column-pl
{
	padding: 2%;
}

.footer__column-pr
{
	padding: 2%;
}

.footer__icon-social img
{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10%;
	margin-bottom: 10%;
}


@media (max-width: 720px) {
	.footer__logo{
		display: none;
	}
	.footer__column
	{
		order: 3;
	}

	.footer__column-pl
	{
		order: 1;
	}
	.footer__column-pr
	{
		order: 2;
	}
}
