section.footer
	.footer__column.footer__column-pl
		.footer__icon-phone
			img(src="footer/img/icon-phon.png", alt="phone")
		p.footer__text 3333 222 1111 <br> 800 1234 Hello
	.footer__column
		.footer__logo
			img(src="footer/img/Vector_Smart_Object1.png", alt="")
		.footer__icon-social
			img(src="footer/img/fb.png", alt="faceboock", )
			img(src="footer/img/twitter.png", alt="twitter")
			img(src="footer/img/2-layers.png", alt="planeta")
			img(src="", alt="")
			img(src="footer/img/printerest.png", alt="printerest")
		p.footer__copyright © Themexpert
	.footer__column.footer__column-pr
		.footer__icon-map
			img(src="footer/img/icon-map.png", alt="map")
		p.footer__text 99 Barnard St - Suite 111 <br> United States - GA 22222 