.reservations
{
	min-height: 700px;
	padding: 6%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(-13deg, rgba(12, 52, 53, 0.07) 0%,
	rgba(255, 255, 255, 0.07) 100%);
	box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.1);
	background: url(reservation/img/Layer_12.png) center right no-repeat,url(reservation/img/Vector_Smart_Object.png) center left no-repeat;
}

.reservations__column-left
{
	margin-left: 10%;
}

.reservations__column
{
	margin-right: 5%;
}
form.reservations__form 
{
	max-width:480px;
	max-height: 209px;
}
.grid__form
{
	display: flex;
	flex-direction: row;

}

.reservations__content-right
{
	@include display-flex;
	margin-bottom: 15%;
}

.reservations__text
{
	max-width: 420px;
}

.reservations__form input
{
	width: 200px;
	height: 36px;
	border: 1px solid #c8c6c6;
	background-color: #ffffff;
	padding-left: 7%;
	margin-bottom: 10%;
}

.reservations__form input:hover
{
	border: 1px solid $orange;
}

.reservations__form label
{
	color: $orange;
	font-family: Focus-Medium;
	font-size: 14px;
	font-weight: 500;
}

.reservations__form input::placeholder
{
	color: #a4a4a4;
	font-family: Focus-Medium;
	font-size: 12px;
	font-style: italic;
}

.reservations__form button
{
	display: block;
	width: 200px;
	height: 36px;
	background-color: $orange;
	outline: none;
	border: none;
	color: #ffffff;
	font-family: Focus-Medium;
	font-size: 16px;
	font-weight: 500;
	margin: 3% auto 3% auto;
}

.reservations__form button:active
{
	box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.reservations__form button:hover
{
	opacity: 0.8;
}
.column2
{
	margin-left: 10%;
}

@media (max-width: 1370px) {
	.reservations__column-left>img:first-child
	{
		display: none;
	}
}

@media (max-width: 860px) {
	.reservations__column-left>img
	{
		display: none;
	}
}

@media (max-width: 600px) {
	.grid__form
	{
		flex-direction: column;

	}

	.grid__form label
	{
		display: block;
	}

	.column2, .column1
	{
		margin: auto;
	}

	.reservations__content-right
	{
		margin-bottom: 2%;
	}

	.reservations__form button
	{
		margin: 0px auto;
	}
	.reservations
	{
		align-items: flex-start;
		height: 610px;
	}

}




