section.promo
	h1.promo__header The right ingredients <br> for the right food
	img.decoration(src="promo/img/Decoration.png", alt="decoration")
	form.promo__form
		button.promo__button Book A Table
		button.promo__button Call Now

