.ingredients
{
	display: flex;
	min-height: 758px;
	align-items: center;
	justify-content: center;
}

.ingredients__img-container
{
	margin-left: 5%;
}

.ingredients__content
{
	@include display-flex;
	background-image: url(ingredients/img/bg.png);
	margin-left: 5%;
	min-height: 758px;
	max-width:  570px;



}

.ingredients__icons
{
	display: flex;
	justify-content: center;


}

.ingredients__icon
{
	margin-top:10%;
}
.ingredients__icon-item:not(:first-of-type)
{
	margin-left: 8%;
}


.ingredients__text
{
	color: #ffffff;
	max-width: 394px;
	min-height: 144px;
}

.title_white
{
	color: #ffffff;
}

.ingredients__decoration
{
	margin-bottom: 3%;
}

@media 	(max-width: 1330px) 
{
	.ingredients__img
	{
		width: 400px;
	}		
}

@media 	(max-width: 1000px) 
{
	.ingredients__img
	{
		display: none;
	}
		.ingredients__content
	{
		margin-left: 0px;
	}
}

@media 	(max-width: 527px) 
{
	.ingredients__icons
	{
		flex-direction: column;

	}
	.ingredients__content
	{
		margin-left: -22px;
	}

	.ingredients__icon-item:not(:first-of-type)
	{
		margin-left: 0px;
		margin-top: 8%;
	}



}

