section.ingredients
	.ingredients__img-container
		img.ingredients__img(src="ingredients/img/Layer_13.jpg", alt="ingredients")
	.ingredients__content
		h2.title.title_white Fine ingredients
		img.ingredients__decoration(src="ingredients/img/Divider.png", alt="decoration")
		p.ingredients__text.about__text If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!
		.ingredients__icons
			img.ingredients__icon(src="ingredients/img/image.png", alt="icon")
			img.ingredients__icon(src="ingredients/img/image2.png", alt="icon")
			img.ingredients__icon(src="ingredients/img/image3.png", alt="icon")