section.menu#menu
	.menu__row
		.menu__block
				.menu__header
					h2.title.title_white.title_center Appetisers
					img.menu__decoration(src="menu/img/Divider.png", alt="")
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
		.menu__block
				.menu__header
					h2.title.title_white.title_center Appetisers
					img.menu__decoration(src="menu/img/Divider.png", alt="")
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
	.menu__row
		.menu__block
				.menu__header
					h2.title.title_white.title_center Appetisers
					img.menu__decoration(src="menu/img/Divider.png", alt="")
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
		.menu__block
				.menu__header
					h2.title.title_white.title_center Appetisers
					img.menu__decoration(src="menu/img/Divider.png", alt="")
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.
				.menu__paragtaph
					.menu__title
						h3.menu__subtitle Tzatsiki 
						p.price.menu__subtitle 29..50
					p.menu__text Refreshing traditional cucumber and garlic yoghurt dip.



