.header
{
    display: flex;
    background: transparent;
    position: fixed;
}

.header__item
{
    display: inline;
    margin-left: 50px;
    list-style-type: none;
    font-family: Focus-Medium;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}

.header__item:hover
{
	color: $orange;
	cursor: pointer;
}
