header.header
	.logo
		a(href="#")
			img(src="header/img/Vector_Smart_Object1.png" alt="logo")
	ul.header__menu
		li.header__item Home
		li.header__item Abour
		li.header__item Igredients
		li.header__item Menu
		li.header__item Reviews
		li.header__item Reservations
	.header__social
		a(href='#')
			img(src='header/img/Social.png' alt='social')
